Package: com.den.igshot
Name: igshotdxd
Version: 0.0.1
Architecture: iphoneos-arm
Description: CopyAnything From Instagram!
Maintainer: DeNsor
Author: DeNsor
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
